<footer>
    <dir class="f_info">
        <div class="f_info_socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f_info_company">
            &copy;Yatra Private Limited
        </div>
        <div class="f_info_links">
            <a href="/privacy">privacy</a>&nbsp;&nbsp;
            <a href="/terms">terms</a>
        </div>
    </dir>
</footer>