<% layout("layouts/boilerplate")%>
<style>
    .book{
        border: 2px solid green;
        padding: 1rem;
        color: black;
    }
</style>
<body>
    <div class="title">
        <div class="book">
            <h3 class="mb-4" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: oblique;">Thankyou
                for choosing us</h3>
            <h2>We send an email regarding all details of this resort to you, you can confirm booking from there after checking
                all the details.</h2>
        </div>
        <div>
            <a href="/listings" class="btn btn-success  col-2 offset-0 ">Explore more</a>
        </div>
    </div>
</body>