<% layout("layouts/boilerplate")%>
<style>
    .plan{
        border:1px solid #fff;
        padding:10px 30px;
        color:#fff;
        text-decoration:none;
        transition:0.3s ease;
        font-size:xx-large;
    }
    .plan:hover{
        background-color:#ace9bf;
        color:#000;
    }
    .scenary{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        height: 100vh;
        width:100vw;
        position: relative;
        right: 9vw;
        background-size: cover;
        background-position: center;
    }
</style>

<body>
    <div class="scenary">
        <div class="title">
            <h1>Let us take you close</h1>
            <a class="plan" href="/listings" class="btn">PLAN &nbsp;YOUR&nbsp; HOLIDAY</a>
        </div>
    </div>
</body>